header {
    background-color: var(--eerie__color);
    color: var(--cultured__color);
}

header .container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    padding: .5rem;
}

@media screen and (min-width: 1200px) {
    header .container {
        flex-direction: row;
        align-items: flex-end;
    }
}