li.cartWidget__container {
    position: relative;
    margin-right: .25rem;
}

span.cartWidget__badge {
    color: var(--eerie__color);
    background-color: var(--poppy__color);
    width: .75rem;
    height: .75rem;
    font-size: .75rem;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    position: absolute;
    top: -.25rem;
    right: -.25rem;
    border-radius: 50%;
}